anyio==3.3.4
arrow==1.2.1
asgiref==3.4.1
binaryornot==0.4.4
certifi==2020.6.20
chardet==3.0.4
charset-normalizer==2.0.7
click==7.1.2
cmake==3.18.2.post1
colorama==0.4.4
cookiecutter==1.7.3
decorator==4.4.2
defusedxml==0.7.1
dlib==19.18.0
face-recognition==1.3.0
face-recognition-models==0.3.0
fastapi==0.70.0
h11==0.12.0
httpie==2.6.0
httptools==0.2.0
idna==2.10
imageio==2.9.0
imageio-ffmpeg==0.4.2
Jinja2==3.0.3
jinja2-time==0.2.0
MarkupSafe==2.0.1
moviepy==1.0.3
mypy==0.910
mypy-extensions==0.4.3
numpy==1.18.4
opencv-python==4.4.0.46
Pillow==8.0.1
poyo==0.5.0
proglog==0.1.9
pydantic==1.8.2
Pygments==2.10.0
PySocks==1.7.1
python-dateutil==2.8.2
python-dotenv==0.19.2
python-multipart==0.0.5
python-slugify==5.0.2
PyYAML==6.0
requests==2.24.0
requests-toolbelt==0.9.1
six==1.16.0
sniffio==1.2.0
starlette==0.16.0
text-unidecode==1.3
toml==0.10.2
tqdm==4.51.0
typed-ast==1.4.3
typing-extensions==3.10.0.2
urllib3==1.25.11
uvicorn==0.15.0
watchgod==0.7
websockets==10.0
wincertstore==0.2